body {
  margin: 0;
  font-family: Arial, sans-serif;
}
#contenedor{
    background:black;
    color:white;
    padding: 0 15px;
    


    display:flex;
    justify-content:space-between;
    align-items:center;
}
#contenedor h1{
     font-size:20px;
     font-weight:bold;
}
#contenedor img{
     margin-top: 4px;
}
#menu{
    display:flex;
    justify-content:space-between;
}
#menu p{
    margin-left:30px;
    font-weight:bold;
}
#menu img{
    margin-top: 18px;
}
p{
  max-width: 1100px;
  margin-left: 200px;
  font-size: 19.5px;
  font-family: 'sans-serif';
   line-height: 1.6;
  

}
h1{
      text-align:center;

}
h2{
    margin: auto;
    margin-left: 200px;
}
#fotos{
  display:flex;
  justify-content:center;  
  gap:40px;                
  margin-top:40px;
}
#fotos img{
    width: 350px;
}
#info{
    background: #d3d3d3;
    padding: 15px;
  
    justify-content:center;
    gap:30px; 
}
#info p{
    font-weight: bold;
}
.logooran{
    margin-left: 300px;
}
#redes{
    margin-left: 700px;
    display: flex;
}

#redesab{
        background: #d3d3d3;
        padding: 15px;
            font-weight: bold;

          display:flex;
        


        

}
.TEXTONEWS{
    background: #d3d3d3;
    padding: 15px;

}
.suscribirse{
    padding: 15px;
background: #d3d3d3;
  display:flex;
  justify-content:center;
  gap:20px;
  margin-left:-300px ;
}
.suscribirse input{
  padding:18px;
  width:260px;
  border:none;
  background:#e6e6e6;
  font-size:18px;
}
.suscribirse button{
  padding:18px 35px;
  background:#3f5aa9;
  color:white;
  border:none;
  font-weight:bold;
  letter-spacing:2px;
  font-size:16px;
}
